<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Apple Studio Display</key>
	<dict>
		<key>Apple Studio Display (1st generation)</key>
		<dict>
			<key>HeaderLevel</key>
			<integer>2</integer>
			<key>Models</key>
			<dict>
				<key>J327AP</key>
				<string>AppleDisplay2,1</string>
			</dict>
		</dict>
	</dict>
	<key>Apple TV</key>
	<dict>
		<key>Apple TV HD</key>
		<dict>
			<key>HeaderLevel</key>
			<integer>2</integer>
			<key>Models</key>
			<dict>
				<key>J42dAP</key>
				<string>AppleTV5,3</string>
			</dict>
		</dict>
		<key>Apple TV 4K</key>
		<dict>
			<key>HeaderLevel</key>
			<integer>2</integer>
			<key>Models</key>
			<dict>
				<key>J105aAP</key>
				<string>AppleTV6,2</string>
			</dict>
		</dict>
		<key>Apple TV 4K (2nd generation)</key>
		<dict>
			<key>HeaderLevel</key>
			<integer>2</integer>
			<key>Models</key>
			<dict>
				<key>J305AP</key>
				<string>AppleTV11,1</string>
			</dict>
		</dict>
		<key>Apple TV 4K (3rd generation)</key>
		<dict>
			<key>HeaderLevel</key>
			<integer>2</integer>
			<key>Models</key>
			<dict>
				<key>J255AP</key>
				<string>AppleTV14,1</string>
			</dict>
		</dict>
	</dict>
	<key>Apple Watch</key>
	<dict>
		<key>Apple Watch Series 4</key>
		<dict>
			<key>HeaderLevel</key>
			<integer>3</integer>
			<key>Models</key>
			<dict>
				<key>N131sAP</key>
				<string>Watch4,1</string>
				<key>N131bAP</key>
				<string>Watch4,2</string>
				<key>N141sAP</key>
				<string>Watch4,3</string>
				<key>N141bAP</key>
				<string>Watch4,4</string>
			</dict>
		</dict>
		<key>Apple Watch Series 5</key>
		<dict>
			<key>HeaderLevel</key>
			<integer>3</integer>
			<key>Models</key>
			<dict>
				<key>N144sAP</key>
				<string>Watch5,1</string>
				<key>N144bAP</key>
				<string>Watch5,2</string>
				<key>N146sAP</key>
				<string>Watch5,3</string>
				<key>N146bAP</key>
				<string>Watch5,4</string>
			</dict>
		</dict>
		<key>Apple Watch SE</key>
		<dict>
			<key>HeaderLevel</key>
			<integer>3</integer>
			<key>Models</key>
			<dict>
				<key>N140sAP</key>
				<string>Watch5,9</string>
				<key>N140bAP</key>
				<string>Watch5,10</string>
				<key>N142sAP</key>
				<string>Watch5,11</string>
				<key>N142bAP</key>
				<string>Watch5,12</string>
			</dict>
		</dict>
		<key>Apple Watch Series 6</key>
		<dict>
			<key>HeaderLevel</key>
			<integer>3</integer>
			<key>Models</key>
			<dict>
				<key>N157sAP</key>
				<string>Watch6,1</string>
				<key>N157bAP</key>
				<string>Watch6,2</string>
				<key>N158sAP</key>
				<string>Watch6,3</string>
				<key>N158bAP</key>
				<string>Watch6,4</string>
			</dict>
		</dict>
		<key>Apple Watch Series 7</key>
		<dict>
			<key>HeaderLevel</key>
			<integer>3</integer>
			<key>Models</key>
			<dict>
				<key>N187sAP</key>
				<string>Watch6,6</string>
				<key>N187bAP</key>
				<string>Watch6,7</string>
				<key>N188sAP</key>
				<string>Watch6,8</string>
				<key>N188bAP</key>
				<string>Watch6,9</string>
			</dict>
		</dict>
		<key>Apple Watch SE (2022)</key>
		<dict>
			<key>HeaderLevel</key>
			<integer>3</integer>
			<key>Models</key>
			<dict>
				<key>N143sAP</key>
				<string>Watch6,10</string>
				<key>N143bAP</key>
				<string>Watch6,11</string>
				<key>N149sAP</key>
				<string>Watch6,12</string>
				<key>N149bAP</key>
				<string>Watch6,13</string>
			</dict>
		</dict>
		<key>Apple Watch Series 8</key>
		<dict>
			<key>HeaderLevel</key>
			<integer>3</integer>
			<key>Models</key>
			<dict>
				<key>N197sAP</key>
				<string>Watch6,14</string>
				<key>N197bAP</key>
				<string>Watch6,15</string>
				<key>N198sAP</key>
				<string>Watch6,16</string>
				<key>N198bAP</key>
				<string>Watch6,17</string>
			</dict>
		</dict>
		<key>Apple Watch Ultra</key>
		<dict>
			<key>HeaderLevel</key>
			<integer>3</integer>
			<key>Models</key>
			<dict>
				<key>N199AP</key>
				<string>Watch6,18</string>
			</dict>
		</dict>
		<key>Apple Watch Series 9</key>
		<dict>
			<key>HeaderLevel</key>
			<integer>3</integer>
			<key>Models</key>
			<dict>
				<key>N207sAP</key>
				<string>Watch7,1</string>
				<key>N207bAP</key>
				<string>Watch7,2</string>
				<key>N208sAP</key>
				<string>Watch7,3</string>
				<key>N208bAP</key>
				<string>Watch7,4</string>
			</dict>
		</dict>
		<key>Apple Watch Ultra 2</key>
		<dict>
			<key>HeaderLevel</key>
			<integer>3</integer>
			<key>Models</key>
			<dict>
				<key>N210AP</key>
				<string>Watch7,5</string>
			</dict>
		</dict>
	</dict>
	<key>HomePod</key>
	<dict>
		<key>HomePod 1st generation</key>
		<dict>
			<key>HeaderLevel</key>
			<integer>3</integer>
			<key>Models</key>
			<dict>
				<key>B238aAP</key>
				<string>AudioAccessory1,1</string>
				<key>B238AP</key>
				<string>AudioAccessory1,2</string>
			</dict>
		</dict>
		<key>HomePod mini</key>
		<dict>
			<key>HeaderLevel</key>
			<integer>3</integer>
			<key>Models</key>
			<dict>
				<key>B520AP</key>
				<string>AudioAccessory5,1</string>
			</dict>
		</dict>
		<key>HomePod 2nd generation</key>
		<dict>
			<key>HeaderLevel</key>
			<integer>3</integer>
			<key>Models</key>
			<dict>
				<key>B620AP</key>
				<string>AudioAccessory6,1</string>
			</dict>
		</dict>
	</dict>
	<key>iPad</key>
	<dict>
		<key>iPad (6th generation)</key>
		<dict>
			<key>HeaderLevel</key>
			<integer>3</integer>
			<key>Models</key>
			<dict>
				<key>J71bAP</key>
				<string>iPad7,5</string>
				<key>J72bAP</key>
				<string>iPad7,6</string>
			</dict>
		</dict>
		<key>iPad (7th generation)</key>
		<dict>
			<key>HeaderLevel</key>
			<integer>3</integer>
			<key>Models</key>
			<dict>
				<key>J171AP</key>
				<string>iPad7,11</string>
				<key>J172AP</key>
				<string>iPad7,12</string>
			</dict>
		</dict>
		<key>iPad (8th generation)</key>
		<dict>
			<key>HeaderLevel</key>
			<integer>3</integer>
			<key>Models</key>
			<dict>
				<key>J171aAP</key>
				<string>iPad11,6</string>
				<key>J172aAP</key>
				<string>iPad11,7</string>
			</dict>
		</dict>
		<key>iPad (9th generation)</key>
		<dict>
			<key>HeaderLevel</key>
			<integer>3</integer>
			<key>Models</key>
			<dict>
				<key>J181AP</key>
				<string>iPad12,1</string>
				<key>J182AP</key>
				<string>iPad12,2</string>
			</dict>
		</dict>
		<key>iPad (10th generation)</key>
		<dict>
			<key>HeaderLevel</key>
			<integer>3</integer>
			<key>Models</key>
			<dict>
				<key>J271AP</key>
				<string>iPad13,18</string>
				<key>J272AP</key>
				<string>iPad13,19</string>
			</dict>
		</dict>
	</dict>
	<key>iPad Air</key>
	<dict>
		<key>iPad Air (3rd generation)</key>
		<dict>
			<key>HeaderLevel</key>
			<integer>3</integer>
			<key>Models</key>
			<dict>
				<key>J217AP</key>
				<string>iPad11,3</string>
				<key>J218AP</key>
				<string>iPad11,4</string>
			</dict>
		</dict>
		<key>iPad Air (4th generation)</key>
		<dict>
			<key>HeaderLevel</key>
			<integer>3</integer>
			<key>Models</key>
			<dict>
				<key>J307AP</key>
				<string>iPad13,1</string>
				<key>J308AP</key>
				<string>iPad13,2</string>
			</dict>
		</dict>
		<key>iPad Air (5th generation)</key>
		<dict>
			<key>HeaderLevel</key>
			<integer>3</integer>
			<key>Models</key>
			<dict>
				<key>J407AP</key>
				<string>iPad13,16</string>
				<key>J408AP</key>
				<string>iPad13,17</string>
			</dict>
		</dict>
	</dict>
	<key>iPad Pro</key>
	<dict>
		<key>iPad Pro (12.9-inch 2nd generation)</key>
		<dict>
			<key>HeaderLevel</key>
			<integer>3</integer>
			<key>Models</key>
			<dict>
				<key>J120AP</key>
				<string>iPad7,1</string>
				<key>J121AP</key>
				<string>iPad7,2</string>
			</dict>
		</dict>
		<key>iPad Pro (10.5-inch)</key>
		<dict>
			<key>HeaderLevel</key>
			<integer>3</integer>
			<key>Models</key>
			<dict>
				<key>J207AP</key>
				<string>iPad7,3</string>
				<key>J208AP</key>
				<string>iPad7,4</string>
			</dict>
		</dict>
		<key>iPad Pro (11-inch)</key>
		<dict>
			<key>HeaderLevel</key>
			<integer>3</integer>
			<key>Models</key>
			<dict>
				<key>J317AP</key>
				<string>iPad8,1</string>
				<key>J317xAP</key>
				<string>iPad8,2</string>
				<key>J318AP</key>
				<string>iPad8,3</string>
				<key>J318xAP</key>
				<string>iPad8,4</string>
			</dict>
		</dict>
		<key>iPad Pro (12.9-inch 3rd generation)</key>
		<dict>
			<key>HeaderLevel</key>
			<integer>3</integer>
			<key>Models</key>
			<dict>
				<key>J320AP</key>
				<string>iPad8,5</string>
				<key>J320xAP</key>
				<string>iPad8,6</string>
				<key>J321AP</key>
				<string>iPad8,7</string>
				<key>J321xAP</key>
				<string>iPad8,8</string>
			</dict>
		</dict>
		<key>iPad Pro (11-inch 2nd generation)</key>
		<dict>
			<key>HeaderLevel</key>
			<integer>3</integer>
			<key>Models</key>
			<dict>
				<key>J417AP</key>
				<string>iPad8,9</string>
				<key>J418AP</key>
				<string>iPad8,10</string>
			</dict>
		</dict>
		<key>iPad Pro (12.9-inch 4th generation)</key>
		<dict>
			<key>HeaderLevel</key>
			<integer>3</integer>
			<key>Models</key>
			<dict>
				<key>J420AP</key>
				<string>iPad8,11</string>
				<key>J421AP</key>
				<string>iPad8,12</string>
			</dict>
		</dict>
		<key>iPad Pro (11-inch 3rd generation)</key>
		<dict>
			<key>HeaderLevel</key>
			<integer>3</integer>
			<key>Models</key>
			<dict>
				<key>J517AP</key>
				<string>iPad13,4</string>
				<key>J517xAP</key>
				<string>iPad13,5</string>
				<key>J518AP</key>
				<string>iPad13,6</string>
				<key>J518xAP</key>
				<string>iPad13,7</string>
			</dict>
		</dict>
		<key>iPad Pro (12.9-inch 5th generation)</key>
		<dict>
			<key>HeaderLevel</key>
			<integer>3</integer>
			<key>Models</key>
			<dict>
				<key>J522AP</key>
				<string>iPad13,8</string>
				<key>J522xAP</key>
				<string>iPad13,9</string>
				<key>J523AP</key>
				<string>iPad13,10</string>
				<key>J523xAP</key>
				<string>iPad13,11</string>
			</dict>
		</dict>
		<key>iPad Pro (11-inch 4th generation)</key>
		<dict>
			<key>HeaderLevel</key>
			<integer>3</integer>
			<key>Models</key>
			<dict>
				<key>J617AP</key>
				<string>iPad14,3</string>
				<key>J618AP</key>
				<string>iPad14,4</string>
			</dict>
		</dict>
		<key>iPad Pro (12.9-inch 6th generation)</key>
		<dict>
			<key>HeaderLevel</key>
			<integer>3</integer>
			<key>Models</key>
			<dict>
				<key>J620AP</key>
				<string>iPad14,5</string>
				<key>J621AP</key>
				<string>iPad14,6</string>
			</dict>
		</dict>
	</dict>
	<key>iPad mini</key>
	<dict>
		<key>iPad mini (5th generation)</key>
		<dict>
			<key>HeaderLevel</key>
			<integer>3</integer>
			<key>Models</key>
			<dict>
				<key>J210AP</key>
				<string>iPad11,1</string>
				<key>J211AP</key>
				<string>iPad11,2</string>
			</dict>
		</dict>
		<key>iPad mini (6th generation)</key>
		<dict>
			<key>HeaderLevel</key>
			<integer>3</integer>
			<key>Models</key>
			<dict>
				<key>J310AP</key>
				<string>iPad14,1</string>
				<key>J311AP</key>
				<string>iPad14,2</string>
			</dict>
		</dict>
	</dict>
	<key>iPhone</key>
	<dict>
		<key>iPhone XR</key>
		<dict>
			<key>HeaderLevel</key>
			<integer>2</integer>
			<key>Models</key>
			<dict>
				<key>N841AP</key>
				<string>iPhone11,8</string>
			</dict>
		</dict>
		<key>iPhone XS</key>
		<dict>
			<key>HeaderLevel</key>
			<integer>2</integer>
			<key>Models</key>
			<dict>
				<key>D321AP</key>
				<string>iPhone11,2</string>
			</dict>
		</dict>
		<key>iPhone XS Max</key>
		<dict>
			<key>HeaderLevel</key>
			<integer>3</integer>
			<key>Models</key>
			<dict>
				<key>D331pAP</key>
				<string>iPhone11,6</string>
			</dict>
		</dict>
		<key>iPhone 11</key>
		<dict>
			<key>HeaderLevel</key>
			<integer>2</integer>
			<key>Models</key>
			<dict>
				<key>N104AP</key>
				<string>iPhone12,1</string>
			</dict>
		</dict>
		<key>iPhone 11 Pro</key>
		<dict>
			<key>HeaderLevel</key>
			<integer>2</integer>
			<key>Models</key>
			<dict>
				<key>D421AP</key>
				<string>iPhone12,3</string>
			</dict>
		</dict>
		<key>iPhone 11 Pro Max</key>
		<dict>
			<key>HeaderLevel</key>
			<integer>2</integer>
			<key>Models</key>
			<dict>
				<key>D431AP</key>
				<string>iPhone12,5</string>
			</dict>
		</dict>
		<key>iPhone SE (2nd generation)</key>
		<dict>
			<key>HeaderLevel</key>
			<integer>2</integer>
			<key>Models</key>
			<dict>
				<key>D79AP</key>
				<string>iPhone12,8</string>
			</dict>
		</dict>
		<key>iPhone 12 mini</key>
		<dict>
			<key>HeaderLevel</key>
			<integer>2</integer>
			<key>Models</key>
			<dict>
				<key>D52gAP</key>
				<string>iPhone13,1</string>
			</dict>
		</dict>
		<key>iPhone 12</key>
		<dict>
			<key>HeaderLevel</key>
			<integer>2</integer>
			<key>Models</key>
			<dict>
				<key>D53gAP</key>
				<string>iPhone13,2</string>
			</dict>
		</dict>
		<key>iPhone 12 Pro</key>
		<dict>
			<key>HeaderLevel</key>
			<integer>2</integer>
			<key>Models</key>
			<dict>
				<key>D53pAP</key>
				<string>iPhone13,3</string>
			</dict>
		</dict>
		<key>iPhone 12 Pro Max</key>
		<dict>
			<key>HeaderLevel</key>
			<integer>2</integer>
			<key>Models</key>
			<dict>
				<key>D54pAP</key>
				<string>iPhone13,4</string>
			</dict>
		</dict>
		<key>iPhone 13 mini</key>
		<dict>
			<key>HeaderLevel</key>
			<integer>2</integer>
			<key>Models</key>
			<dict>
				<key>D16AP</key>
				<string>iPhone14,4</string>
			</dict>
		</dict>
		<key>iPhone 13</key>
		<dict>
			<key>HeaderLevel</key>
			<integer>2</integer>
			<key>Models</key>
			<dict>
				<key>D17AP</key>
				<string>iPhone14,5</string>
			</dict>
		</dict>
		<key>iPhone 13 Pro</key>
		<dict>
			<key>HeaderLevel</key>
			<integer>2</integer>
			<key>Models</key>
			<dict>
				<key>D63AP</key>
				<string>iPhone14,2</string>
			</dict>
		</dict>
		<key>iPhone 13 Pro Max</key>
		<dict>
			<key>HeaderLevel</key>
			<integer>2</integer>
			<key>Models</key>
			<dict>
				<key>D64AP</key>
				<string>iPhone14,3</string>
			</dict>
		</dict>
		<key>iPhone SE (3rd generation)</key>
		<dict>
			<key>HeaderLevel</key>
			<integer>2</integer>
			<key>Models</key>
			<dict>
				<key>D49AP</key>
				<string>iPhone14,6</string>
			</dict>
		</dict>
		<key>iPhone 14</key>
		<dict>
			<key>HeaderLevel</key>
			<integer>2</integer>
			<key>Models</key>
			<dict>
				<key>D27AP</key>
				<string>iPhone14,7</string>
			</dict>
		</dict>
		<key>iPhone 14 Plus</key>
		<dict>
			<key>HeaderLevel</key>
			<integer>2</integer>
			<key>Models</key>
			<dict>
				<key>D28AP</key>
				<string>iPhone14,8</string>
			</dict>
		</dict>
		<key>iPhone 14 Pro</key>
		<dict>
			<key>HeaderLevel</key>
			<integer>2</integer>
			<key>Models</key>
			<dict>
				<key>D73AP</key>
				<string>iPhone15,2</string>
			</dict>
		</dict>
		<key>iPhone 14 Pro Max</key>
		<dict>
			<key>HeaderLevel</key>
			<integer>2</integer>
			<key>Models</key>
			<dict>
				<key>D74AP</key>
				<string>iPhone15,3</string>
			</dict>
		</dict>
		<key>iPhone 15</key>
		<dict>
			<key>HeaderLevel</key>
			<integer>2</integer>
			<key>Models</key>
			<dict>
				<key>D37AP</key>
				<string>iPhone15,4</string>
			</dict>
		</dict>
		<key>iPhone 15 Plus</key>
		<dict>
			<key>HeaderLevel</key>
			<integer>2</integer>
			<key>Models</key>
			<dict>
				<key>D38AP</key>
				<string>iPhone15,5</string>
			</dict>
		</dict>
		<key>iPhone 15 Pro</key>
		<dict>
			<key>HeaderLevel</key>
			<integer>2</integer>
			<key>Models</key>
			<dict>
				<key>D83AP</key>
				<string>iPhone16,1</string>
			</dict>
		</dict>
		<key>iPhone 15 Pro Max</key>
		<dict>
			<key>HeaderLevel</key>
			<integer>2</integer>
			<key>Models</key>
			<dict>
				<key>D84AP</key>
				<string>iPhone16,2</string>
			</dict>
		</dict>
	</dict>
	<key>Mac</key>
	<dict>
		<key>Intel</key>
		<dict>
			<key>HeaderLevel</key>
			<integer>3</integer>
			<key>Models</key>
			<dict>
				<key>J132AP</key>
				<string>MacBookPro15,2</string>
			</dict>
		</dict>
		<key>M1 Series</key>
		<dict>
			<key>HeaderLevel</key>
			<integer>3</integer>
			<key>Models</key>
			<dict>
				<key>J316sAP</key>
				<string>MacBookPro18,1</string>
			</dict>
		</dict>
		<key>M2</key>
		<dict>
			<key>HeaderLevel</key>
			<integer>3</integer>
			<key>Models</key>
			<dict>
				<key>J493AP</key>
				<string>Mac14,7</string>
			</dict>
		</dict>
		<key>M2 Pro and Max</key>
		<dict>
			<key>HeaderLevel</key>
			<integer>3</integer>
			<key>Models</key>
			<dict>
				<key>J416cAP</key>
				<string>Mac14,6</string>
			</dict>
		</dict>
		<key>Mac Air (2023)</key>
		<dict>
			<key>HeaderLevel</key>
			<integer>3</integer>
			<key>Models</key>
			<dict>
				<key>J415AP</key>
				<string>Mac14,15</string>
			</dict>
		</dict>
		<key>M2 Max and Ultra</key>
		<dict>
			<key>HeaderLevel</key>
			<integer>3</integer>
			<key>Models</key>
			<dict>
				<key>J475dAP</key>
				<string>Mac14,14</string>
			</dict>
		</dict>
	</dict>
	<key>Vision</key>
	<dict>
		<key>Apple Vision Pro</key>
		<dict>
			<key>HeaderLevel</key>
			<integer>2</integer>
			<key>Models</key>
			<dict>
				<key>N301AP</key>
				<string>RealityDevice14,1</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>